* {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding: 1rem 2rem;
  color: white;
  justify-content: space-between;
}

.logo {
  display: flex;
  margin-left: 30px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  padding: 0;
  margin-right: 360px;
}

.nav-links a {
  font-family: arial;
  text-decoration: none;
  color: rgba(202, 197, 197, 0.76);
  font-size: 14px;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: black;
}

.login-section {
  display: flex;
  gap: 1rem;

}

.login-section p {
  font-family: arial;
  color: black;
  font-size: 13px;
  margin-top: 5px;
}

.login-section button {
  border: none;
  border-radius: 3px;
  padding: 8px 25px;
  font-size: 12px ;
  background-color: #2929a8;
  color: white;
  cursor: pointer;
}

