html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
}

body {
  font-family: 'Inter', sans-serif;
}


.no-scroll {
  overflow: hidden;
  height: 100vh;
  width: 100%;
  position: relative;
}


html.no-scroll,
body.no-scroll {
  overflow-x: hidden !important;
  max-width: 100vw;
}

.hamburger {
  font-size: 28px;
  cursor: pointer;
  display: none;
  color: #2929a8;
}

.navbar {
  display: flex;
  position: relative;
  align-items: center;
  background-color: #ffffff;
  padding: 1rem 2rem;
  color: white;
  justify-content: space-between;
}

.navbar .overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9; /* just under your sidebar */
  pointer-events: none;
}

.navbar .overlay.show {
  display: block;
}

.logo {
  display: flex;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.nav-links a {
  text-decoration: none;
  color: rgba(202, 197, 197, 0.76);
  font-size: 14px;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: black;
}

.login-section {
  display: flex;
  gap: 1rem;
  margin-right: 50px;

}

.login-section p {
  color: black;
  font-size: 13px;
  margin-top: 5px;
}

.login-section button {
  border: none;
  border-radius: 3px;
  padding: 8px 25px;
  font-size: 12px ;
  background-color: #2929a8;
  color: white;
  cursor: pointer;
}


@media (max-width: 768px) {

  .hamburger {
    display: block;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right:0;
    background-color: #3636e3;
    width: 35%;
    height: 100%;
    padding: 1rem 2rem;
    margin-right: 0;
    z-index: 1000;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
    justify-content: left;
  }

  .nav-links.open {
    display: flex;
    transform: translateX(0);

  }

  .nav-links a {
    color: white;
    font-size: 20px;
    font-weight: bolder;

  }

  .nav-links .close-icon {
    justify-content: flex-end;
    font-size: 54px;
    cursor: pointer;
    margin-bottom: 1rem;
    color: white; /* Adjust depending on your sidebar color */
    transition: transform 0.2s ease-in-out; /* smooth animation */
    margin-left: 5px;
  }

  .nav-links .close-icon:hover {
    transform: scale(1.2); /* makes it 'pop' */
  }

  .no-scroll {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
  }

  .login-section {
    display: none;
  }



}
