
.success-card {
    width: 230px;
    height: 320px;
    padding: 20px;
    background-color: #E4E7EC;
    opacity: 0.4;
    font-family: 'Arial', sans-serif;
    position: relative;
    text-align: center;
    transition: all 0.3s ease;
    cursor: pointer;
    border-radius: 15px;
    flex: 0 0 250px;
}



.quote-mark {
    width: 70px;
    height: 50px;
    line-height: 0.5;
    position: absolute;
    top: 10px;
    left: 20px;
    margin-top: 20px;

}

.quote-text {
    font-size: 16px;
    color: #101828;
    margin: 90px 0 20px 0;
    padding: 0 10px;
}

.person-info {
    display: flex;
    align-items: center;
    margin-top: 50px;
    gap: 10px;
}

.person-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 8px;
}

.person-name {
    font-size: 12px;
    color: #67646A;

}


.success-card.dimmed {
    opacity: 0.4;

}

.success-card.selected {
    background-color: #1849A9; /* bright blue */
    opacity: 1;
    transform: scale(1.05) translateY(15px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.success-card.selected .quote-text {
    color: #ffffff; /* or any other color */
}

.success-card.selected .person-name {
    color: #d1e2ff; /* lighter blue for contrast maybe */
}

.success-cards-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    justify-content: center;
    overflow-y: auto;
    scroll-behavior: smooth;
    gap: 25px;
    padding: 100px 0;
    max-height: 100vh;
    width: 100%;
    box-sizing: border-box;
}

.success-cards-container::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

.success-cards-container::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 4px;
}